.reservation-bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation-window {
    /* background-color: #faf8a19d; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow-x: auto; 
    overflow-y: auto; 
}

.reservation-row {
    display: flex;
    justify-content: center;
}

.reservation-button {
    margin: 5px;
    width: 100px;
    height: 100px;
}
