.home {
    margin-top: 15px;
    max-width: 1300px;
}

.match-details {
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

.top-info {
    display: flex;
    padding: 5px 10px;
    background-color: #ddddff;
}

.top-info > .time {
    margin-left: auto;
}

.top-info > .stadium {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.teams {
    display: flex;
    justify-content: space-around;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team > .team-name {
    margin-top: 3px;
    font-weight: bold;
}

.team > .team-logo {
    height: 55px;
}

.bottom-info {
    display: flex;
    padding: 10px;
    align-items: flex-end;
}

.referee-team {
}

th {
    padding-right: 10px;
}

.edit-match-details-btn {
    margin-right: 5px;
}

.team-list {
    border: 1px solid;
}

.stadium-list {
    border: 1px solid;
}

.team-item {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.team-item > .team-logo {
    height: 35px;
}

.list-divider {
    margin: 5px;
}

.team-item > .team-name {
    padding-left: 10px;
}

.list-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddddff;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
}

.stadium-item {
    padding: 5px 10px;
}

.add-match-button {
    margin: 10px;
}

.add-stadium-button {
    margin: 10px;
}
