
/* Style for the facebook button in signup */
.btn-facebook {
    background-color: #405d9d;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Style for the google button in signup */
.btn-google {
    border: 1px solid blue;
    background-color: #fff;
    color: #f56a81;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Style for the divider-text after the social media buttons in signup */
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Style for the text that in the divider-text after the social media buttons in signup */
.divider-text span {
    position: relative;   
    padding: 7px;
    font-size: 12px;
    z-index: 2;
}

/* Style for the line that in the divider-text after the social media buttons in signup */
.divider-text:after {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgb(197, 196, 196);
    top: 55%;
    left: 0;
    z-index: 1;
}

/* Style for the required elements in signup */
.required .control-span:after {
    content: '*';
    color: red;
}
